<div class="container mt-4">
  <h1 class="text-center mb-4">All Posts</h1>

  <table class="table table-striped table-bordered">
    <tbody>
      <% @posts.includes(:author).each do |post| %>
        <tr class="row justify-content-center align-items-center">
          <!-- User name and posts counter column -->
          <td class="col-md-10 align-items-center">
            <div class="row mt-1 justify-content-center">
              <div class="col-md-6 border border-secondary">
                <h6> <%= post.title %>
                <p class="text-center"> <%= post.text %> </p>
                <p class="text-end"> <span>Comments: <%= post.comments_counter %></span> <span>Likes: <%= post.likes_counter %></span> </p>
                <div class="col-auto fs-1 mr-auto">
                  <%= link_to 'see post', show_user_specific_post_path(post.author, post.id), class: 'btn btn-outline-secondary' %>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>